* {
    box-sizing: border-box;
    font-family: "Pretendard";
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
}
.field-error {
    color: red;
    border-color: red;
}
.field-error-input {
    border: 1.5px solid red;
}
#wrap {
    text-align: center;
}
#login-box {
    margin-top: 120px;
    width: 580px;
    height: 480px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    vertical-align: middle;
}
#login-logo > img {
    margin-right: 16px;
}
#login-logo {
    margin-top: 90px;
    margin-bottom: 60px;
    height: 40px;
}
#login-name {
    color: #00c220;
    font-size: 40px;
    font-weight: 800;
    position: relative;
    top: -4px;
}
#login-input-button {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 16px;
}
form > input {
    width: 400px;
    height: 48px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 0 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

#login-input-button > input:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

#login-input-button > a:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

#login-input-button > input::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}
#login-input-button > input:nth-of-type(2) {
    margin: 10px 0 8px;
}

#login-error > p {
    width: 400px;
    margin: 0 0 4px 0;
    font-size: 13px;
    text-align: start;
    padding-left: 10px;
}

#login-button {
    width: 400px;
    height: 48px;
    background: #00c220;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    margin-top: 8px;
    cursor: pointer;
}
#login-button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

#login-explanation {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #999999;
    margin-top: 30px;
}

#login-admin {
    display: flex;
    justify-content: center;
}

#login-admin button {
    color: #000000;
    background-color: white;
    border: none;
    font-size: 14px;
    padding: 0;
    cursor: pointer;
}
#login-admin button:hover {
    text-decoration: underline;
}

#login-admin button:first-child {
    margin-right: 186px;
    width: 49px;
}

#login-admin button:nth-child(2) {
    margin-right: 24px;
    width: 65px;
}

#login-cs {
    font-size: 16px;
    color: #999999;
    margin-top: 36px;
}
