<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/image/favicon.ico" />
  <link rel="stylesheet" href="/css/join.css" />
  <title th:text="#{title}">스마트 와이어</title>
</head>
<body id="wrap">
<div id="wrap2">
  <div id="join-form-box">
    <button id="join-form-logo" th:onclick="|location.href='@{/}'|">SMART WIRE</button>
    <div id="join-form-join">회원가입</div>
    <form
      th:action
      method="post"
      th:object="${memberJoinDto}"
      id="join-form-mainbox"
    >
      <div id="join-id">
        <label for="loginId" th:text="#{join.id}">아이디</label>
        <input
          type="text"
          id="loginId"
          class="join-input"
          th:field="*{loginId}"
          th:placeholder="#{join.id.placeholder}"
          th:errorclass="field-error-input"
          placeholder="아이디"
        />
        <button th:text="#{join.id.doubleCheckButton}" id="join-dupl-button" type="button">
          중복확인
        </button>
        <div class="field-error" th:errors="*{loginId}">아이디 오류</div>
      </div>

      <div>
        <label for="loginPassword" th:text="#{join.password}">비밀번호</label>
        <input
          type="text"
          id="loginPassword"
          class="join-password"
          th:field="*{loginPassword}"
          th:placeholder="#{join.password.placeholder}"
          th:errorclass="field-error-input"
          placeholder="비밀번호"
        />
        <div class="field-error" th:errors="*{loginPassword}">
          비밀번호 오류
        </div>
      </div>

      <div>
        <label for="loginPasswordDoubleCheck" th:text="#{join.passwordDoubleCheck}">
          비밀번호 확인
        </label>
        <input
          type="text"
          id="loginPasswordDoubleCheck"
          class="join-password"
          th:field="*{loginPasswordDoubleCheck}"
          th:placeholder="#{join.passwordDoubleCheck.placeholder}"
          th:errorclass="field-error-input"
          placeholder="비밀번호 확인"
        />
        <div class="field-error" th:errors="*{loginPasswordDoubleCheck}">
          비밀번호 확인 오류
        </div>
      </div>

      <div>
        <label for="email" th:text="#{join.email}">이메일</label>
        <input
          type="email"
          id="email"
          th:field="*{email}"
          th:placeholder="#{join.email.placeholder}"
          th:errorclass="field-error-input"
          placeholder="이메일"
        />
        <div class="field-error" th:errors="*{email}">이메일 오류</div>
      </div>

      <div>
        <label for="companyName" th:text="#{join.companyName}">회사 이름</label>
        <input
          type="text"
          id="companyName"
          th:field="*{companyName}"
          th:placeholder="#{join.companyName.placeholder}"
          th:errorclass="field-error-input"
          placeholder="회사명"
        />
        <div class="field-error" th:errors="*{companyName}">
          회사 이름 오류
        </div>
      </div>

      <div>
        <label for="phoneNumber" th:text="#{join.phoneNumber}">회사 전화번호</label>
        <input
          type="text"
          id="phoneNumber"
          th:field="*{phoneNumber}"
          th:placeholder="#{join.phoneNumber.placeholder}"
          th:errorclass="field-error-input"
          placeholder="회사 전화번호"
        />
        <div class="field-error" th:errors="*{phoneNumber}">
          회사 전화번호 오류
        </div>
      </div>
      <div>
        <div></div>
        <input
          type="checkbox"
          id="termOfUse"
          th:field="*{termOfUse}"
        />
        <label id="termOfUseLabel" for="termOfUse" th:text="#{join.termOfUse}">이용약관 동의</label>
        <button type="button"></button>
        <div class="field-error" th:errors="*{termOfUse}">
          이용약관 오류
        </div>
      </div>
      <button  type="submit" th:text="#{join.button}">회원가입</button>
    </form>
  </div>
</div>
</body>
</html>
