<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/image/favicon.ico">
  <link rel="stylesheet" href="/css/machine.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <title th:text="#{title}">스마트 와이어</title>
</head>
<body>

<nav id="main-navbar">
  <div id="main-navbar-left">
    <a th:href="@{/}">
      <img src="/image/logo.png" alt="로고" />
      <span>SMART WIRE</span>
    </a>
  </div>
  <div id="main-navbar-right">
    <span th:text="${member.companyName}">Company name</span>
    <button type="submit" th:onclick="|location.href='@{/member}'|"><img id="profile-img" src="/image/account.png" alt="마이페이지"/></button>
    <form action="/logout" method="post">
      <button th:text="#{logout}">로그아웃</button>
    </form>
  </div>
</nav>

<div id="main-wrap">
  <div id="main-left">
    <div>
      <button id="main-left-status" th:onclick="|location.href='@{/member}'|">
        <img src="/image/account_side_grey.png" alt=""/><span>계정 관리</span>
      </button>
      <button id="main-left-data" th:onclick="|location.href='@{/member/machine}'|">
        <img src="/image/settings_side_white.png" alt=""/><span>기계 관리</span>
      </button>
    </div>
  </div>
  <div id="main-right">
    <div id="main-right-machine">
      <form th:action method="post" th:object="${machineDtoList}" id="main-right-machine-form">
        <div id="machine-form-empty-text" th:if="${member.haveMachine == false}">
          등록된 기계가 없습니다.<br>아래의 플러스 버튼을 눌러 기계를 등록해주세요.
        </div>

        <p th:if="${#fields.hasGlobalErrors()}" th:text="#{Duplicate.machineName}">
          오류
        </p>

          <table id="machine-list">
            <thead>
              <tr hidden>
                <th hidden>순서</th>
                <th hidden>id</th>
                <th>기계 이름</th>
                <th>기계 모델명</th>
                <th>제조일자</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="machine, machineStat : *{machines}">
                <td id="machine-list-element">
                  <div>
                    <img class="machine-list-hamburger" draggable="true" src="/image/hamburger.png" alt="기계순서 바꾸기" >
                    <input type="text"
                           th:field="*{machines[__${machineStat.index}__].machineName}"
                           th:value="${machine.machineName}"
                           placeholder="기계 이름을 입력해주세요. ex)1호기">
                    <button type="button" class="machine-list-stretch-button"></button>
                    <div th:errors="*{machines[__${machineStat.index}__].machineName}">오류</div>
                  </div>

                  <div class="machine-list-hide">
                    <input type="text"
                           th:field="*{machines[__${machineStat.index}__].machineModel}"
                           th:value="${machine.machineModel}"
                           placeholder="(선택) 와이어 기계 모델명">
                    <div th:errors="*{machines[__${machineStat.index}__].machineModel}">오류</div>

                    <input type="date"
                           th:field="*{machines[__${machineStat.index}__].dateManufacture}"
                           th:value="${machine.dateManufacture}"
                           placeholder="(선택) 제조일자">

                    <button type="button" class="btn btn-primary"
                            data-toggle="modal" data-target="#exampleModal"
                            th:data-machine-id="${machine.id}"
                    >
                      삭제하기
                    </button>
                  </div>
                  <input type="number"
                         class="row-position"
                         th:field="*{machines[__${machineStat.index}__].sequence}"
                         th:value="${machine.sequence}" hidden/>
                  <input type="text"
                         th:field="*{machines[__${machineStat.index}__].id}"
                         th:value="${machine.id}" hidden>
                </td>
              </tr>
            </tbody>
          </table>
        <button type="button" onclick="addRow()" class="btn btn-primary" id="machine-list-add-button">
          <img src="/image/plus_machine.png" alt="기계 추가(플러스) 버튼">
        </button>
        <button type="submit" class="btn btn-primary" id="machine-list-save-button">저장 하기</button>
      </form>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">기계 삭제</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="myForm" action="/member/machine/delete" method="post">
            <input type="text" class="form-control" id="machineIdSend" name="machineIdSend" hidden>
            <label for="loginPassword" class="col-form-label">해당 기계를 삭제하시려면 비밀번호를 입력해주세요</label>
            <input type="password" class="form-control" name="loginPassword" id="loginPassword">
            <input type="submit" value="삭제하기">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        </div>
      </div>
    </div>
  </div>

</div>
</body>

<!--드래그로 순서 바꾸기-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>
<script th:inline="javascript">
    var container = document
        .getElementById("machine-list")
        .getElementsByTagName("tbody")[0];
    var drake = dragula([container], {
        moves: function (el, container, handle) {
            return handle.className === "machine-list-hamburger";
        },
        accepts: function (el, target, source, sibling) {
            return target !== document.querySelector("#machine-list thead");
        },
    });

    drake.on("drop", function (el, target, source, sibling) {
        updateRowPositions();
    });

    function updateRowPositions() {
        document.querySelectorAll("#machine-list tbody tr").forEach((row, i) => {
            row.querySelectorAll('input').forEach(input => {
                const parts = input.name.split(".");
                if (parts.length > 1) {
                    input.name = `machines[${i}].${parts[1]}`;
                }
                if (parts[1] === 'sequence') {
                    input.value = i;
                }
            });
        });
    }
</script>

<!--각 항목 펼치기, 줄이기-->
<script>
    let buttons = document.getElementsByClassName('machine-list-stretch-button');

    Array.from(buttons).forEach(function(button) {
        button.addEventListener('click', function() {
            let parent = this.parentElement; // 버튼의 부모 요소(div)를 참조합니다.
            let hideDiv = parent.nextElementSibling; // 부모 요소(div)의 다음 형제 요소인 숨겨야 하는 div를 참조합니다.

            let computedStyle = window.getComputedStyle(hideDiv); // hideDiv의 계산된 스타일을 가져옵니다.

            if (computedStyle.display === 'none') {
                hideDiv.style.display = 'flex';
                button.style.backgroundImage = "url('../image/expand_less.png')";
            } else {
                hideDiv.style.display = 'none';
                button.style.backgroundImage = "url('../image/expand.png')";
            }
        });
    });
</script>

<script th:inline="javascript">
    console.log("삭제하면 저장 하기=", [[${autoClickButton}]]);
    if ([[${autoClickButton}]]) {
        updateRowPositions();
        document.getElementById('machine-list-save-button').click();
    }
</script>


<!--팝업창, 처음 켰을 때 순서 지정, 삭제시 업데이트-->

<script th:inline="javascript">
    window.onload = function() {
      updateRowPositions();
    }
    let popupMessage = [[${popupMessage}]];
    if (popupMessage) {
        alert(popupMessage);
    }
</script>

<!--모달창-->
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = $(event.relatedTarget);
        // Extract data from the button using jQuery's .data() function
        var machineId = button.data('machine-id'); // Update this with the actual data attribute\
        // Update the modal's content
        var modal = $(this);
        modal.find('.modal-body #machineIdSend').val(machineId);
    });
</script>

<!--플러스 버튼-->
<script>
    function addRow() {
        const table = document.querySelector("table");
        const tbody = document.querySelector("tbody");
        const newRow = document.createElement("tr");
        let index = table.rows.length-1;

        // <tr> 태그 내부의 HTML 코드를 생성합니다.
        newRow.innerHTML = `
          <td id="machine-list-element">
            <div>
              <img class="machine-list-hamburger" draggable="true" src="/image/hamburger.png" alt="기계순서 바꾸기" >
              <input type="text"
                     name="machines[${index}].machineName"
                     placeholder="기계 이름을 입력해주세요. ex)1호기">
              <button type="button" class="machine-list-stretch-button"></button>
              <button class="machine-quick-delete-button" type="button"></button>
            </div>

            <div class="machine-list-hide">
              <input type="text"
                     name="machines[${index}].machineModel"
                     placeholder="(선택) 와이어 기계 모델명">

              <input type="date"
                     name="machines[${index}].dateManufacture"
                     placeholder="(선택) 제조일자">
            </div>
            <input type="number" class="row-position" value="${index}" name="machines[${index}].sequence" hidden>
            <input type="text" value="" hidden name="machines[${index}].id">
          </td>
        `;

        // Add event listener to the button of the newly added row
        let button = newRow.querySelector('.machine-list-stretch-button');
        button.addEventListener('click', function() {
            let parent = this.parentElement;
            let hideDiv = parent.nextElementSibling;
            let computedStyle = window.getComputedStyle(hideDiv);

            if (computedStyle.display === 'none') {
                hideDiv.style.display = 'flex';
                button.style.backgroundImage = "url('../image/expand_less.png')";
            } else {
                hideDiv.style.display = 'none';
                button.style.backgroundImage = "url('../image/expand.png')";
            }
        });

        // Delete button's click event
        newRow.querySelector('.machine-quick-delete-button').addEventListener('click', function() {
            this.closest('tr').remove();
            updateRowPositions(); // Update row positions after a row is deleted
        });
        tbody.appendChild(newRow);
    }
</script>


</html>