<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/image/favicon.ico">
  <link rel="stylesheet" href="/css/main_no_machine.css"/>
  <title th:text="#{title}">스마트 와이어</title>
</head>
<body>

<nav id="main-navbar">
  <div id="main-navbar-left">
    <a th:href="@{/}">
      <img src="/image/logo.png" alt="로고" />
      <span>SMART WIRE</span>
    </a>
  </div>
  <div id="main-navbar-right">
    <span th:text="${member.companyName}">Company name</span>
    <button type="submit" th:onclick="|location.href='@{/member}'|"><img src="/image/account.png" alt="마이페이지"/></button>
    <form action="/logout" method="post">
      <button th:text="#{logout}">로그아웃</button>
    </form>
  </div>
</nav>

<div id="main-wrap">
  <div id="main-left">
    <div>
      <button id="main-left-status">
        <img src="/image/check_grey.png" alt="" /><span>작동 상태</span>
      </button>
      <button id="main-left-data">
        <img src="/image/assessment_grey.png" alt="" /><span>가공 통계</span>
      </button>
    </div>
  </div>
  <div id="main-right">
    <div id="main-right-notice">
      <img src="/image/notice.png" alt="" id="main-right-machine-img">
      <div id="main-right-machine-text">등록된 기계가 없습니다.<br>기계 등록 후 서비스를 이용해 주세요.</div>
      <button th:onclick="|location.href='@{/member/machine}'|" id="main-right-machine-button">기계등록 하러 가기</button>
    </div>
  </div>
</div>
</body>
</html>
