<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/image/favicon.ico">
  <link rel="stylesheet" href="/css/main.css"/>
  <title th:text="#{title}">스마트 와이어</title>
</head>
<body>

<nav id="main-navbar">
  <div id="main-navbar-left">
    <a th:href="@{/}">
      <img src="/image/logo.png" alt="로고" />
      <span>SMART WIRE</span>
    </a>
  </div>
  <div id="main-navbar-right">
    <span th:text="${member.companyName}">Company name</span>
    <button type="submit" th:onclick="|location.href='@{/member}'|"><img src="/image/account.png" alt="마이페이지"/></button>
    <form action="/logout" method="post">
      <button th:text="#{logout}">로그아웃</button>
    </form>

  </div>
</nav>

<div id="main-wrap">
  <div id="main-left">
    <div>
      <button id="main-left-status">
        <img src="/image/check_white.png" alt="" /><span>작동 상태</span>
      </button>
      <button id="main-left-data">
        <img src="/image/assessment_grey.png" alt="" /><span>가공 통계</span>
      </button>
    </div>
  </div>
  <div id="main-right">
    <div id="main-right-grid">

      <div class="main-right-grid-card" th:each="log, logStat : ${logDto}">
        <div class="header">
          <span th:text="${log.machineName}">기계명</span>
          <img src="/image/breaking.png" alt="기계 상태" />
        </div>
        <div class="middle">
          <div>
            <div>파일명</div>
            <div>로그명</div>
          </div>
          <div>
            <div><button th:text="${log.file}">파일명</button></div>
            <span class="log-text" th:text="${log.log}">로그명</span>
            <div th:text="|${log.date} ${log.logTime}|">로그 시간</div>
          </div>
        </div>
        <div class="bottom">
          <img src="/image/clock.png" alt="작동시간" />
          <span th:text="${log.startedTime}">00:00 (현재 파일 가공 시간)</span>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
    // Connect to WebSocket server.
    var socket = new SockJS('/ws');
    var stompClient = Stomp.over(socket);
    stompClient.connect({}, function(frame) {
        console.log('로그인 아이디=', [[${member.loginId}]]);
        // Subscribe to "/topic/messages" destination.
        stompClient.subscribe('/topic/logs/' + [[${member.loginId}]], function(message) {
            // Handle received message.
            handleUpdate(JSON.parse(message.body));
        });
    });

    function handleUpdate(message) {
        console.log(message);
        // Update DOM according to the message.
        // ...
    }
</script>

</html>

