<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="icon" href="/image/favicon.ico">
  <title th:text="#{title}">스마트 와이어</title>
</head>
<body>

<nav id="main-navbar">
  <div id="main-navbar-left">
    <a th:href="@{/}">
      <img src="/image/logo.png" alt="로고" />
      <span>SMART WIRE</span>
    </a>
  </div>
  <div id="main-navbar-right">
    <span th:text="${companyName}">Company name</span>
    <button th:onclick="|location.href='@{/my_page(companyName=${companyName})}'|"><img src="/image/account.png" alt="마이페이지"/></button>
    <form action="/logout" method="post">
      <button th:text="#{logout}">로그아웃</button>
    </form>
  </div>
</nav>